$color-moderate-violet: rgb(117, 65, 200);
$color-very-dark-grayish-blue: rgb(72, 85, 106);
$color-very-dark-blackish-blue: rgb(25, 33, 46);
$color-white: rgb(255, 255, 255);


$color-light-gray: rgb(207, 207, 207);
$color-light-grayish-blue: rgb(236, 242, 248);

$bp-big: 68.75em; // 1100px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
